<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="icon" th:href="@{/app.ico}" type="image/x-icon"/>
    <title th:text="#{cas.login.pagetitle}"></title>

    <script type="text/javascript" src="webjars/fui/public/scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="webjars/fui/public/common/fui/fui.js"></script>
    <script type="text/javascript" src="webjars/fui/public/common/fui/fui-ext.js"></script>
    <script type="text/javascript" src="webjars/fui/public/common/fui/common.js"></script>
    <script type="text/javascript" src="webjars/fui/public/common/fui/json2.js"></script>
    <script type="text/javascript" src="webjars/fui/public/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/fui/public/scripts/login.js"></script>
    <link rel="stylesheet" type="text/css" href="webjars/fui/public/common/fui/themes/pact/fui.css"/>
    <link rel="stylesheet" type="text/css" href="webjars/fui/public/common/fui/themes/pact/common.css"/>
    <link rel="stylesheet" type="text/css" href="webjars/fui/public/common/fui/themes/pact/skin.css"/>
    <link rel="stylesheet" type="text/css" href="webjars/fui/public/common/fui/themes/pact/icons.css"/>
    <link rel="stylesheet" type="text/css" href="webjars/fui/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="webjars/fui/public/css/signin.css"/>
    <style type="text/css">
        .pre-icon{
            margin-top: 50px;
            height: 46px;
        }
    </style>
</head>

<body>
<div class="login-wrapper">
    <div class="login-body">
        <div class="splash-container login-box">
            <div class="form-signin-heading" align="center">
                <div style="text-align:center;font-size:11px;"><b style="color:red;">测试用户： </b><span style="color:green;">zhangsan/zhangsan</span> </div>
                <div style="text-align:center;">
                    <span style="font-weight:bold;font-size:22px">jcoffee</span>
                    <span style="font-size:12px">框架研发 [演示环境]</span>
                </div>
            </div>
            <div class="clear"></div>
            <form id="loginForm" class="form-signin" method="post" th:object="${credential}">
                <div style="text-align: center;color: red;" th:if="${#fields.hasErrors('*')}">
                    <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend pre-icon">
                            <span class="input-group-text" id="basic-username"><img src="webjars/fui/public/mainframe/images/login/user.png"/></span>
                        </div>
                        <input type="text" id="username" name="username" class="form-control form-margin-top" placeholder="账号" autofocus
                               aria-describedby="basic-username" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend pre-icon">
                            <span class="input-group-text" id="basic-password"><img src="webjars/fui/public/mainframe/images/login/password.png"/></span>
                        </div>
                        <input type="password" name="password" class="form-control form-margin-top" placeholder="密码" aria-describedby="basic-password" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend pre-icon">
                            <span class="input-group-text"><img src="webjars/fui/public/mainframe/images/login/rand_u26.png"/></span>
                        </div>
                        <input type="text" id="captcha" name="captcha" class="form-control form-margin-top" placeholder="验证码" required />
                        <div class="input-group-prepend pre-icon">
                            <span class="input-group-sm"><img title="单击更换验证码" th:src="@{/captchacode}" class="color_8a8a8a mg_r_2" onclick="loadImage(this)" style="height:46px;"/></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="login_btn btn btn-lg btn-primary btn-block" type="submit" value="登录" />
                </div>
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="submit"/>
                <input type="hidden" name="geolocation"/>
            </form>
        </div>
    </div>
    <div class="login-footer">
        <p>© 2018 <a href="javascript:void(0);" target="_blank">xfreng版权所有</a></p>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    fui.parse();
    var form = new fui.Form("#loginForm");
    focusInput("username");

    var i = [[#{screen.welcome.button.loginwip}]];
    $("#loginForm").submit(function() {
        form.validate();
        if (form.isValid() === false) return false;
        $(":submit").attr("disabled", true);
        $(":submit").attr("value", i);
        return true;
    });

    function focusInput(id) {
        var el = document.getElementById(id);
        if (el) el.focus();
    }

    function loadImage(e){
        e.src = e.src + "?date=" + new Date().getTime();
    }
</script>
</html>